In [2]:
import sys
sys.path.append('../')
import numpy as np
import pandas as pd

from collections import Counter, defaultdict
import csv
import math
import operator

In [9]:

df_disch = pd.read_csv('../data/disch_full.csv')
print(df_disch.head())

df_disch['TEXT'] = df_disch['TEXT'].astype(str)
print(df_disch['TEXT'].head())

   SUBJECT_ID  HADM_ID  CHARTTIME  \
0           3   145834        NaN
1           4   185777        NaN
2           6   107064        NaN
3           9   150750        NaN
4           9   150750        NaN

                                                TEXT
0  admission date discharge date date of birth se...
1  admission date discharge date date of birth se...
2  admission date discharge date date of birth se...
3  admission date discharge date date of birth se...
4  name known lastname known firstname unit no nu...
0    admission date discharge date date of birth se...
1    admission date discharge date date of birth se...
2    admission date discharge date date of birth se...
3    admission date discharge date date of birth se...
4    name known lastname known firstname unit no nu...
Name: TEXT, dtype: object

In [10]:
df_disch['WORD_LIST'] = df_disch['TEXT'].map(lambda x: x.split(' '))

In [11]:
df_disch['LENGTH_TOTAL'] = df_disch['WORD_LIST'].map(lambda x: len(x))
df_disch['LENGTH_TOTAL'].describe()

count    59652.000000
mean      1337.782254
std        771.722565
min          9.000000
25%        812.000000
50%       1239.000000
75%       1758.000000
max       7504.000000
Name: LENGTH_TOTAL, dtype: float64

In [23]:
total =df_disch['LENGTH_TOTAL'].sum()
print("Total words: ", total)

most_popular = df_disch['WORD_LIST'].apply(pd.Series).stack().value_counts()
most_popular

Total words:  79801387

the             2066842
and             1814084
to              1522448
of              1521333
was             1424494
with            1085409
a               1026574
on               961521
in               828777
for              787471
no               680199
mg               640128
tablet           594136
patient          587589
is               575022
he               491125
at               455305
blood            453243
name             449560
po               446573
she              415872
discharge        413836
or               413732
s                395540
as               391345
day              384839
daily            371987
sig              359439
one              346141
his              331047
                 ...
tranct                1
supplmeent            1
transfewrred          1
notary                1
b3a                   1
20354f                1
permidri              1
apponitment           1
nutrution             1
anyhwere              1
kcalories             1
oxprenolol            1
balkan                1
detorioted            1
melodies              1
dontinued             1
worksite              1
irratic               1
cutback               1
ipslateral            1
discribes             1
ahv                   1
thinnings             1
decordicate           1
gastroj               1
fnding                1
botanist              1
deben                 1
toothpick             1
anterioform           1
Length: 150854, dtype: int64

In [27]:
# unique = pd.unique(df_disch['WORD_LIST'].values)

df_disch['WORD_TUPLES'] = df_disch['WORD_LIST'].map(lambda x: tuple(x))


# np.unique(df[['Col1', 'Col2']].values)

In [41]:
# np.unique(df_disch[['WORD_TUPLES']].values)
unique_ish = pd.unique(df_disch[['WORD_TUPLES']].values.ravel('K'))
unique = set(unique_ish)

In [42]:
print("Unique", len(unique))

Unique 59483